<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="icon" href="img/logo.webp">

    <link rel="stylesheet" href="css/style.css">
    <title>Cadaverous Kennel | PetCareTips</title>
</head>

<body onload="myFunction()">
    <div id="loading"></div>

    <header role="banner">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div id="logo">
                    <img src="img/logo.webp" alt="logoimage" srcset="">
                </div>

                <a class="navbar-brand absolute" href="index">Cadaverous Kennel</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav mx-auto pl-lg-5 pl-0">
                        <li class="nav-item">
                            <a class="nav-link" href="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Breed</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="breed/german">German Shepherd</a>
                                <a class="dropdown-item" href="breed/labrador">Labrador</a>
                                <a class="dropdown-item" href="breed/rottweiler">Rottweiler</a>
                                <a class="dropdown-item" href="breed/golden">Golden Retriever</a>
                                <a class="dropdown-item" href="breed/bulldog">Bulldog</a>
                                <a class="dropdown-item" href="breed/beagle">Beagle</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="blog">PetCareTips</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="services" id="dropdown04" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Organisation</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">

                                <a class="dropdown-item" href="organisation/apolo">Apollo Vets Healthcare</a>
                                <a class="dropdown-item" href="organisation/jeevashram">Sanjay Gandhi Animal Care
                                    Center</a>

                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->

    <section class="home-slider inner-page owl-carousel">
        <div class="slider-item" style="background-image: url('img/slider-1.jpg');">

            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 element-animate">
                        <h1>Caring Tips</h1>
                        <p class="mb-5">“There’s a saying. If you want someone to love you forever, buy a dog, feed it
                            and keep it around.”</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- END slider -->

    <section class="section element-animate">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-4"></div>
                <div class="col-md-8 section-heading">
                    <h2 id="start">It's a Dog Life</h2>
                    <p class="small-sub-heading">Tips For Caring</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <img src="img/dog_1.jpg" alt="Image placeholder" class="img-fluid">
                </div>
                <div class="col-md-4">
                    <p>
                    <h2>1. Meet Your Dog’s Basic Needs</h2>
                    As a dog owner, it’s essential to understand and meet your pet’s basic needs. Whether you’re a
                    novice pet parent or an expert, you’ll need to set the stage for your new pup. Your dog’s basic
                    needs will consist of nutritious food, water, treats, toys and bedding to make the pup feel
                    right at home.

                    When you bring a new dog into your home, it’s best to make a trip to the vet as soon as
                    possible. Your vet can help you pinpoint the right type and the amount of food and other
                    important things you need to know about caring for your new friend.</p>
                </div>

                <div class="col-md-4">
                    <p>
                    <h2>2. Monitor food consumption</h2>
                    More than one-third (34%) of dogs were diagnosed as obese, according to the most recent data
                    from Banfield Pet Hospital, which has more than 1,000 veterinary hospitals in 42 states. That’s
                    a 108% increase from 2011 to 2020.

                    Unfortunately, overweight canines are susceptible to many health risks such as metabolic
                    abnormalities, cardiovascular disease or poor immune systems. While you may want to spoil your
                    pet, avoid spoiling them with food.<span id="dots">...</span>
                    <span id="more"> Seven miles later,
                        Dozer crossed the finish line of the Maryland Half Marathon, a fundraising event for the
                        University of
                        Maryland's Greenebaum Cancer Center. The runners did not know Dozer was alone. He returned
                        home the next day,
                        looking so tired that his owners took him to the vet. Word got around, and they realized
                        Dozer was the dog on the
                        marathon's TV coverage. Marathon organizers gave Dozer a special award. Now he has his own
                        runner's page and Facebook
                        fan page -and he's raised $21,000 for the cancer center!</span>
                    </p>
                    <!-- <p><a href="">Learn More <span class="ion-ios-arrow-right"></span></a></p> -->
                    <p><button onclick="bu()" id="bu">Learn More <span class="ion-ios-arrow-right"></span></button></p>

                </div>
            </div>
        </div>
    </section>



    {{>footer}}

</html>